<%- include("partials/header") %>

<div class=" bg-light rounded-3 vh-100 d-flex align-items-center">
  <div class="container py-5 text-center">
    <i class="fas fa-key fa-6x mb-4"></i>
    <h1 class="display-5 fw-bold">Secrets</h1>
    <p class="col-md-8 mx-auto fs-4">Don't keep your secrets, share them anonymously!</p>
    <hr class="my-4">
    <a href="/register" class="btn btn-dark btn-lg me-2" role="button">Register</a>
    <a href="/login" class="btn btn-outline-dark btn-lg" role="button">Login</a>
  </div>
</div>

<%- include("partials/footer") %>
